*{
    font-family: 'Montserrat', sans-serif;
    color: white;
    box-sizing: border-box;
    margin:0;
    padding:0;
    /*white line on right - image issue, change the background image - edit-etc*/
}

body{
    background-image: url('home-toneddown-desktop.PNG');
}

.main-content{
    padding-top:8vh;
}
.main-content h1,h2,h3 {
    padding-bottom: 10px;
}

.main-content h1{
    font-size: 80px;
}

.main-content h2,h3{
    font-size: 20px;
    font-weight: normal;
}


button, input[type=submit] {
    margin-top:4vh;
    border-radius: 3px;
    border: 1.5px solid #456E70;
    background-color: #456E70;
    transition-duration: 0.4s;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

button:hover,input[type=submit]:hover {
    background-color: #80B0AA;
    border: 5px solid #80B0AA;

}

section{
    width: 99%;
    position: fixed;
}

h1, h4 {
    text-align: center;
    padding-top: 7%;
}

.container{
    position: fixed;
    padding-top: 10vh;
}

a{
    text-decoration:none;
}

#topbar, #footer {
  height: 7vh;
  background-color: black;
  color: white;
  text-align: center;
  left: 0;
  width: 100%;
  font-size: 15px;

}

#footer{
    bottom:0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#topbar{
    top:0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: right;
}

#topbar p{
    margin-right: 4vw;
}

#about{
    text-align: center;
    padding: 10vh;
    padding-top: 12vh;
}



@media (min-width: 768px) and  (max-width: 991px) {
    h1, h4{
        font-size: 300%;
        padding-top: 17vh; /*vertical height - depending on height of the device*/
    }


    #footer, #topbar{
        font-size: 18px;
        
    }

    #footer{
        bottom:0;
    }

    #topbar{
        top:0;

    }

    canvas{
        width:700px;
        height: 700px;

    }
    button, input[type=submit] {
        height: 5vh;
        width: 40vw;
        font-size: 3vh;
        margin-top: 5vh;

    }
    body{
        background-image: url('home-toneddown-mobile.PNG');
    }
    .main-content{
        padding-top:1vh;
    }
}
/*sth in between tablet and laptop cause in the middle it kinda collapses - works great on mobile tho!*/

@media (max-width: 767px) {


}
