*{
    font-family: 'Montserrat', sans-serif;
    /*background-color: black;*/
    color: white;
}

a{
    text-decoration:none;
}
.main-content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

center{
    margin-top:50px;
    font-size: 24px;
}

#betterButton{
    display: inline;
}

.box{
    margin-top: 130px;
    display: block;
}
body{
    background-image: url('background-toned-down.PNG');
}

/*media queries to be done if needed*/

button, input[type=submit] {
    border-radius: 3px;
    border: 1.5px solid #456E70;
    background-color: #456E70;
    transition-duration: 0.4s;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    font-size: 17px;
    color: white;
}

button:hover,input[type=submit]:hover {
    background-color: #80B0AA;
    border: 5px solid #80B0AA;

}
/*hot mess regarding button-input situation - decide for one*/
