*{
    font-family: 'Montserrat', sans-serif;
    /*background-color: black;*/
    color: white;
    box-sizing: border-box;
}

a{
    text-decoration:none;
}

body{
    background-image: url('background-toned-down.PNG');
}

button, input[type=submit] {
    border-radius: 3px;
    border: 1.5px solid #456E70;
    background-color: #456E70;
    transition-duration: 0.4s;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    font-size: 17px;
    color: white;
}

button:hover,input[type=submit]:hover {
    background-color: #80B0AA;
    border: 5px solid #80B0AA;

}

section{
    width: 99%;
    position: fixed;
        }
h1, h4 {
    text-align: center;
    padding-top: 7%;
        }

.container{
    position: fixed;
        }

#topbar, #footer {
  height: 7%;
  background-color: black;
  color: white;
  text-align: center;
  left: 0;
  width: 100%;
  font-size: 12px;
}

#footer{
    bottom:0;
    padding-bottom:0.05%;
}

#topbar{
    top:0;
    padding-top:0.05%;
}

@media (min-width: 768px) and  (max-width: 991px) {
    h1, h4{
        font-size: 300%;
        padding-top: 17vh; /*vertical height - depending on height of the device*/
    }
    #footer{
        bottom:0;
        font-size: 35px;
        padding-bottom:1%;
    }

    #topbar{
        top:0;
        font-size: 35px;
        padding-top:1%;
        padding-bottom:2%;
    }

    canvas{
        width:800px;
        height: 800px;

    }
    button, input[type=submit] {
        height: 5vh;
        width: 40vw;
        font-size: 40px;
        margin-top: 5vh;
        margin-bottom: 4vh;
    }
}
/*sth in between tablet and laptop cause in the middle it kinda collapses - works great on mobile tho!*/

@media (max-width: 767px) {


}
html, body{
   width: 100%;
   height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
